cloud:
  nodes:
{% for server in servers %}
    node_{{ server[0] }}:
      ipmi_ip: {{ server[1] }}
      ipmi_user: {{ server[2] }}
      ipmi_pass: {{ server[3] }}
      pxe_mac: {{ server[4] }}
{% endfor %}